body{
    background-image: url(image/ocean.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: aqua;
}
p{
    align-items: center;
    text-align: center;
}
form{
    align-items: center;
    text-align: center;
    margin: 1em;
    border: brown;
}
.name{
    margin-bottom: 1em;
    color: burlywood;
}
.year{
    margin-bottom: 1em;
}
.month{
    margin-bottom: 1em;
    color: chartreuse;
}
